<!--<div>-->
    <!--<md-toolbar class="setup-nav" layout="row" flex-offset="33">-->
        <!--<li><a href="#inputTeam">Input Team</a></li>-->
        <!--<li><a href="#inputSchedule">Input Schedule</a></li>-->
        <!--<li><a href="#inputEmailSettings">Email Settings</a></li>-->
    <!--</md-toolbar>-->
<!--</div>-->.
<div class = "setup-nav" layout="row" layout-align="center">
    <md-toolbar class="md-menu-toolbar">
        <ul layout = "row" layout-align="center">
            <li><a href="#inputTeam">Input Team</a></li>
            <li><a href="#inputSchedule">Input Schedule</a></li>
            <li><a href="#inputEmailSettings">Email Settings</a></li>
        </ul>
    </md-toolbar>
</div>

