#customBtn {
    display: inline-block;
    background: #4285f4;
    color: white;
    width: 190px;
    border-radius: 5px;
    white-space: nowrap;
}
#customBtn:hover {
    cursor: pointer;
}
span.label {
    font-weight: bold;
}
span.icon {
    background: url('https://developers.google.com/identity/sign-in/g-normal.png') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
    border-right: #2265d4 1px solid;
}
span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 42px;
    padding-right: 42px;
    font-size: 14px;
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto', sans-serif;
}
li {
    list-style-type: none;
    margin-left:10px
}
h1 {
    text-align: center;
}
.main-nav, .setup-nav{
    width:45%;
    text-align: center;
}
.main-nav{
    float:left;
}
.centered {
    text-align: center;
    width:50%;
}
.centered-schedule {
    width:800px;
    text-align: center;
}
.logout {
    margin: auto;
    margin-left: 10px;
}


#teamInput{
    max-width: 500px;
    min-width: 100px;
}

.submit-buttons {
    margin-top: 10px;
    margin-bottom: 30px;
}
.roster-display {
    width: 800px;
    margin: 0 auto;
}
.grid {
    width:800px;
    height: auto;
    text-align: center;
}
.new-calendar {
    width:360px;
    margin-right:20px;
    border: 1px solid;
    box-sizing: border-box;
}

.create-schedule {
    width:360px;
    margin-left: 20px;
    border: 1px solid;
    box-sizing: border-box;

}
.new-game-input {
    margin-top: 3px;
}
.new-calendar-input {
    width: 50%;
    margin-bottom: 80px;
}

.game-datetime {
    margin:10px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.location {
    height: 40px;
    width: 50%;
}
/*.md-datepicker-calendar, .md-datepicker-input-mask-opaque {*/
    /*background: rgb(255,255,255);*/
/*}*/

/*.md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator {*/
    /*background: rgb(33,150,243);*/
    /*color: rgb(255,255,255);*/
    /*border-color: transparent;*/
/*}*/


/*.md-calendar-date-selection-indicator:hover {*/
    /*background: rgb(224,224,224);*/
/*}*/


/*.md-calendar-day-header {*/
    /*background: rgb(224,224,224);*/
    /*color: rgba(0,0,0,0.87);*/
/*}*/


/*.md-calendar-date-disabled, .md-calendar-month-label-disabled {*/
    /*color: rgba(0,0,0,0.26);*/
/*}*/
