<!DOCTYPE html>
<html lang="en" ng-app = "myApp">
<head>
    <meta charset="UTF-8">
    <title>Team Manager version 1.1</title>
    <!-- Styles-->
    <link rel = "stylesheet" href = "vendors/angular-material.min.css">
    <link rel="stylesheet" href="/vendors/ui-grid.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="/assets/styles/style.css">

    <!-- Scripts-->

    <!--<script src="https://apis.google.com/js/client.js?onload=OnLoadCallback"></script>-->
    <script type = "text/javascript" src="/vendors/moment.js"></script>
    <script type="text/javascript" src="/vendors/angular.min.js"></script>
    <script type = "text/javascript" src="/vendors/angular-moment.js"></script>
    <script type="text/javascript" src="/vendors/angular-route.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-animate.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-aria.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-material.min.js"></script>

    <script type="text/javascript" src="/vendors/ui-grid.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-google-gapi.min.js"></script>
    <!--<script type="text/javascript" src="/vendors/angular-google-gapi_test.js"></script>-->
    <script type="text/javascript" src="/assets/scripts/app.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/controllers/controller.min.js"></script>

    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
    </script>
    <script>
        var scopes = "https://www.googleapis.com/auth/calendar";
        function start() {
            gapi.load('auth2', function() {
//                auth2 = gapi.getAuthInstance({
                auth2 = gapi.auth2.init({
                    client_id: CLIENT_ID,
                    // Scopes to request in addition to 'profile' and 'email'
                    scope: scopes
//                    callbackUrl: "http://www.localhost5000/playerAttendance"
                });
            });
        }
    </script>


</head>
<body>
    <main ng-view></main>
</body>
</html>
