<header>
    <div ng-include="'/assets/views/templates/nav.html'"></div>
    <div ng-include="'/assets/views/templates/account.html'"></div>
    <h1>Team Zeta Setup</h1>
    <div ng-include="'/assets/views/templates/setupNav.html'"></div>
</header>
<div>
    <h1>Create New Calendar</h1>
    <form id = "scheduleInput" class="centered flex-offset-25">
        <div class = "new-calendar" layout="row" layout-align="space-between-center">
            <md-input-container class = new-calendar-input>
                <!--<div class = "create-calendar" layout="row">-->
                <label>Calendar Name</label>
                <input type = "text" ng-model="newCalendar.summary">
                <!--</div>-->
            </md-input-container>
            <md-button class="md-raised" ng-click = createCalendar()>Create New Calendar</md-button>
        </div>


        <div class = "create-schedule">
            <h1>Input Schedule</h1>

                <label>Calendar Name</label>
                <select ng-model = "selectedCalendar.calendar" ng-options="calendar.summary for calendar in currentCalendars"
                        ng-change="getEvents(selectedCalendar.calendar)"></select>



            <!--<md-content>-->
                <!--<label>New Game</label>-->
                <!--<md-datepicker type ="datetime-local" class="new-date" ng-model="newGame.date" md-placeholder="Enter date"></md-datepicker>-->
                <!--&lt;!&ndash;<label>Enter Date</label>&ndash;&gt;-->
                <!--&lt;!&ndash;<input type = "datetime-local" ng-model = "newGame.date">&ndash;&gt;-->
            <!--</md-content>-->
            <div class = "game-datetime">
                <label for = "newGame">New Game</label>
                <input type = "datetime-local" ng-model = "newGame.date" id = "newGame">
            </div>
            <div layout-align="center">
                <md-input-container layout-align="center" class="location" flex-offset="25">
                    <i class="material-icons">add_location</i>
                    <label>Enter Location</label>
                    <input type = "text" ng-model = "newGame.location">
                </md-input-container>
            </div>


            <input type = "submit" value = "submit" ng-click = "inputGame(newGame)">
            <input type = "submit" value = "Schedule Complete" ng-click = "scheduleComplete()">
        </div>



    </form>

    <div class = "schedule-display">
        <h1>Schedule</h1>
        <label>Calendar Name</label>
        <select ng-model = "selectedCalendar.calendar" ng-options="calendar.summary for calendar in currentCalendars"
                ng-change="getEvents(selectedCalendar.calendar)"></select>
        <!--<input type = "submit" value = "Get events" ng-click = "getEvents(selectedCalendar.calendar)">-->
        <div class = "table">
            <div class = "grid" ui-grid = "gridOptions" ui-grid-edit ui-grid-row-edit>
                <!-- insert a table here-->
            </div>
        </div>

    </div>

</div>