<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">

    <title>Team Manager version 1.1 - Manager Page</title>
    <!-- Styles-->
    <link rel="stylesheet" href="/assets/styles/style.css">

    <!-- Scripts-->

    <!--<script src="https://apis.google.com/js/client.js?onload=OnLoadCallback"></script>-->
    <script type="text/javascript" src="/vendors/angular.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-route.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/app.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/controllers/controller.min.js"></script>
</head>
<body>
<header>
    <div ng-include="'/assets/views/templates/nav.html'"></div>
    <div ng-include="'/assets/views/templates/account.html'"></div>
    <h1>Team Zeta Setup</h1>
    <div ng-include="'/assets/views/templates/setupNav.html'"></div>
</header>

</body>
</html>