

<body>
    <div class="empty">

    </div>
        <div class="manager-login">
            <div class = login-logo>
                <img src = "/assets/styles/images/TeamManagerZ-logo.png"/>
                <!--<a rel="nofollow"><img src="http://www.logomaker.com/logo-images/9a1711c638e56f85.gif"/></a>-->
            </div>


            <div id = "myLogin" ng-click="googleLogin()">
                <div id="gSignInWrapper">
                    <span class="label">Sign in with:</span>
                    <div id="customBtn" class="customGPlusSignIn">
                        <span class="icon"></span>
                        <span class="buttonText">Google</span>
                    </div>
                </div>
                <div id="name"></div>
            </div>
        </div>




</body>




